<h1>Blogs</h1>

<%= form_tag blogs_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<div id="facets">
  <h3>Tags</h3>
  <ul>
    <% @blogs.facets['tags']['terms'].each do |facet| %>
      <li>
        <%= link_to_unless_current facet['term'], params.merge(the_tag: facet['term']) %>
        <% if params[:the_tag] == facet['term'].to_s %>
          (<%= link_to "remove", the_tag: nil %>)
        <% else %>
          (<%= facet['count'] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div id="blogs">
<% @blogs.each do |blog| %>
  <h2>
    <%= link_to blog.name, blog %>
  </h2>
  <div class="info">
    Created at <%= blog.created_at.to_time.strftime('%b %d, %Y') %>
  </div>
  <div class="info">
    Tags <%= blog.tag_list.to_s %>
  </div>
  <div class="content"><%= blog.description %></div>
<% end %>
</div>

<div>
  <br />
  <%= link_to 'Create Blog', new_blog_path %>
</div>

<%= will_paginate @blogs %>
